@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ApplicationUser

@{
    ViewData["Title"] = Model.UserName;

    string _UserName = Model.UserName;
    _UserName = _UserName.Split("@")[0];
    _UserName = _UserName[0].ToString().ToUpper() + _UserName.Substring(1);

}

<div class="mt-5 BMCA_sitecard" style="margin: 0; display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr;">
    <div style="border-right: 2px solid #464a67; padding-bottom: calc(15px + (100vw - 700px) * (15 - 30) / (700 - 1000));">
        <div class="d-flex justify-content-between" style="border-bottom: 2px solid #464a67; padding-bottom: 3px">
            <h2 style="margin: 1rem">Chats</h2>
            <div style="margin: 1rem">
                <a class="bi bi-plus-circle" style="color: white; font-size: 27px; margin-right: 5px" href="/Channels/New"></a>
                <a class="bi bi-person-fill" style="color: white; font-size: 27px" href="/Users/Show/@MyUserManager.GetUserId(User).ToString()"></a>
            </div>
        </div>
        <div class="text-center" style="margin: 1rem 0">
            <form action="/Users/Show/@Model.Id" method="get">
                @Html.TextBox("_Search")
                <button type="submit">Search</button>
            </form>
        </div>

        @foreach (BMCA.Models.Channel _Channel in ViewBag.UserChannels)
        {
            @Html.Partial("ChannelButton", _Channel)
        }
    </div>
    
    <div style="border-left: 2px solid #464a67; padding-bottom: calc(15px + (100vw - 700px) * (15 - 30) / (700 - 1000))">
        <div class="d-flex justify-content-between" style="border-bottom: 2px solid #464a67">
            <h2 style="margin: 1rem">Profile</h2>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn BMCA_btn" style="font-size: 20px; margin: 1rem">Log Out</button>
            </form>
        </div>
        <section style="margin: 1rem">
            <h4>About</h4>
            <hr />
            <p><strong>Username:</strong> <span>@_UserName</span></p>
            <p><strong>Email:</strong> <span>@Model.Email</span></p>
            @if (User.IsInRole("Admin"))
            {
                <p><strong>Role:</strong> Admin</p>
            } else if(User.IsInRole("Moderator"))
            {
                <p><strong>Role:</strong> Moderator</p>
            } else
            {
                <p><strong>Role:</strong> User</p>
            }

            <div class="mt-4">
                @if (User.IsInRole("Admin"))
                {
                    <h4>Admin functions</h4>
                    <hr />
                    <a class="btn BMCA_btn" style="font-size: 20px; margin: 0 10px" href="/Users/List">List Users</a>
                    <a class="btn BMCA_btn" style="font-size: 20px; margin: 0 10px" href="/Categories/List">List Categories</a>
                }
            </div>
        </section>
    </div>
</div>
<script>
    var buttons = document.getElementsByClassName("BMCA_btn");
    var userId = @MyUserManager.GetUserId(User);
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function () {
            window.location.href = "User/Show/" + userId + this.innerHTML;
        });
    }
</script>
