@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Channel

<div class="mt-5 BMCA_sitecard" style="display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr;">
    <div>
        <div>
            <div class="d-flex justify-content-between">
                <h5>Chats</h5>
                <div>
                    <a class="bi bi-plus-circle" style="color: white; font-size: 20px;" href="/Channels/New"></a>
                    <a class="bi bi-person-fill" style="color: white; font-size: 20px;" href="/Users/Show/@MyUserManager.GetUserId(User).ToString()"></a>
                </div>
            </div>
            <hr class="mt-0"/>
            <div>
                <form action="/Channels/Show/@Model.ID" method="get">
                    @Html.TextBox("_Search")
                    <button class="bi bi-search" type="submit"></button>
                </form>
            </div>

            <div class="d-inline-block">
                @foreach (BMCA.Models.Channel _Channel in ViewBag.UserChannels)
                {
                    @Html.Partial("ChannelButton", _Channel)
                }
            </div>
        </div>
    </div>
    <div>
        <div>
            <h1>@Model.Name</h1>
        </div>
        <div>
            @foreach (Message _Message in ViewBag.ChatMessages)
            {
                if (_Message.UserId == MyUserManager.GetUserId(User))
                {
                    <p style="text-align: right">@_Message.Content</p>
                    <p style="text-align: right">@_Message.Date</p>
                }
                else
                {
                    <p>@_Message.Content</p>
                    <p>@_Message.Date</p>
                }
            }
        </div>
        <div>
            <form action="/Messages/New?_ChannelId=@Model.ID" method="post">
                @Html.TextBox("_Message.Content")
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
