@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Channel

<div class="mt-5" style="display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr;">
    <div>
        <div>
            <div class="d-flex justify-content-between">
                <h5>Chats</h5>
                <a class="bi bi-plus-circle" style="color: white" href="/Channels/New"></a>
            </div>
            <hr / class="mt-0">

            <div class="d-inline-block">
                @foreach (BMCA.Models.Channel _Channel in ViewBag.UserChannels)
                {
                    @Html.Partial("ChannelButton", _Channel)
                }
            </div>
        </div>
    </div>
    <div>
        <div>
            <h1>@Model.Name</h1>
        </div>
        <div>
            @foreach (Message _Message in Model.Messages)
            {
                if (_Message.UserId == MyUserManager.GetUserId(User))
                {
                    <p style="text-align: right">@_Message.Content</p>
                    <p style="text-align: right">@_Message.Date</p>
                }
                else
                {
                    <p>@_Message.Content</p>
                    <p>@_Message.Date</p>
                }
            }
        </div>
    </div>
</div>
